@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

*{
    font-family: "Inter", sans-serif;
}

#highlight {
     font-family: "Playfair Display", serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}